.Nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: white;
  position: fixed;
  width: 100%;

  .faIcon {
    cursor: pointer;
    font-size: 24px;
  }
}

.cartFull {
  color: rgb(255, 0, 119);
}

.Nav-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
