* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './nav';
@import './productlist';
@import './product';
@import './cart';
@import './cartitem.scss';
